<markdown ngPreserveWhitespaces>
## RxJS Built-in Creation Functions Practice

For each of the exercises below, you will need to go into the `app.component.ts`, find the method for the observable in question, and follow the instructions. You will be given an observable that you will need to accomplish something with.

---

### Exercise for `observable1`

1. For `observable1`, log each of the numbers as they are emitted from the Observable.
2. Log a message when `observable1` completes.

---

### Exercise for `observable2`

1. Repeat the same steps as for `observable1` in `observable2`.
2. Find a way to stop the stream at letter `'b'`.
3. Unsubscribe from the observable.

---

### Exercise for `observable3`

1. Save the first and only string literal emitted from `observable3` to the `msg` property of the component.
2. Now use interpolation to display the value below within the `&lt;pre&gt;&lt;/pre&gt;` tags.
</markdown>
<pre>{{ msg }}</pre>